<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.intensiveporpoises.metrotransit</string>
	<key>connections</key>
	<dict>
		<key>0D95AF2D-EF2D-41B7-864F-63909271B533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83F7967F-3FC3-46A7-B10C-E2FFB4B2680A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1990F4DF-5A28-485A-8734-19B3B95BF20A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81C13647-76D2-4F02-8E28-E92569866514</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3096CD44-FFAA-4499-9353-4269E91DF542</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83F7967F-3FC3-46A7-B10C-E2FFB4B2680A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>498B6247-D784-4DB1-BED5-27FB76D50812</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3096CD44-FFAA-4499-9353-4269E91DF542</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>81C13647-76D2-4F02-8E28-E92569866514</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83F7967F-3FC3-46A7-B10C-E2FFB4B2680A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F4A4F849-E21A-4CE9-886D-84AB054E43EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D95AF2D-EF2D-41B7-864F-63909271B533</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>rohn blake</string>
	<key>description</key>
	<string>Show next arrival times for bus routes in the Twin Cities</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MetroTransit MN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>busroute</string>
				<key>runningsubtext</key>
				<string>Collecting bus routes...</string>
				<key>script</key>
				<string>php -f route.php</string>
				<key>subtext</key>
				<string>Set your preferred bus route</string>
				<key>title</key>
				<string>Set route</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1990F4DF-5A28-485A-8734-19B3B95BF20A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>php -f saveroute.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81C13647-76D2-4F02-8E28-E92569866514</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>MetroTransit MN</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>83F7967F-3FC3-46A7-B10C-E2FFB4B2680A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f savedirection.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3096CD44-FFAA-4499-9353-4269E91DF542</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>busdirection</string>
				<key>runningsubtext</key>
				<string>Collecting directions...</string>
				<key>script</key>
				<string>php -f direction.php</string>
				<key>subtext</key>
				<string>Set your preferred direction</string>
				<key>title</key>
				<string>Set route direction</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>498B6247-D784-4DB1-BED5-27FB76D50812</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>busstop</string>
				<key>runningsubtext</key>
				<string>Collection Stops...</string>
				<key>script</key>
				<string>php -f stop.php</string>
				<key>subtext</key>
				<string>Set your preferred bus stop</string>
				<key>title</key>
				<string>Set route stop</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4A4F849-E21A-4CE9-886D-84AB054E43EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f savestop.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D95AF2D-EF2D-41B7-864F-63909271B533</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>nexttrip</string>
				<key>runningsubtext</key>
				<string>Collecting arrival times...</string>
				<key>script</key>
				<string>php -f nexttrip.php</string>
				<key>subtext</key>
				<string>Showing the next bus arrival times</string>
				<key>title</key>
				<string>Show the next arrival times</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>561C77FF-3E2A-450E-B815-2D1D2E0C2126</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D95AF2D-EF2D-41B7-864F-63909271B533</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>1990F4DF-5A28-485A-8734-19B3B95BF20A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3096CD44-FFAA-4499-9353-4269E91DF542</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>498B6247-D784-4DB1-BED5-27FB76D50812</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>561C77FF-3E2A-450E-B815-2D1D2E0C2126</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>81C13647-76D2-4F02-8E28-E92569866514</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>83F7967F-3FC3-46A7-B10C-E2FFB4B2680A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F4A4F849-E21A-4CE9-886D-84AB054E43EF</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.intensiveporpoises.com/</string>
</dict>
</plist>
